
name: Linting

on:
  push:
    branches:
      - master

  pull_request:
    branches: '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.10.12

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
         # pip install --pre -r requirements-dev.txt
      - name: isort
        run: isort . --recursive --diff
      - name: Black
        run: black --check .