name: Linting

on:
  push:
    branches:
      - master

  pull_request:
    branches: "*"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
      - name: isort
        run: isort . --recursive --diff
      - name: Black
        run: black --check .
